/*Styling of the title row of the card*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Month page wrapper */
.tpPageWrapper {
    display: block;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Styling of button of active tab */
.tpTab {
    display: inline-flex;    
    line-height: 1 rem;
    vertical-align: middle;
    color: white;
    background-color: #008de4;
    width: 20%;
    height: 40px;
    margin-right: 6px;
    cursor: pointer;
    transition: 0.15s;
    box-shadow: inset 0 -2px 4px -3px black;
    cursor: pointer;
}

/* Styling of button of active tab */
.tpTab[value='Active'] {
    display: inline-flex;    
    line-height: 1 rem;
    vertical-align: middle;
    color: black;
    background-color: white;
    width: 20%;
    height: 40px;
    margin-right: 6px;
    cursor: default;
    box-shadow: none;
    transition: 0.15s;
    cursor: default;
}

.tpTab[value='Inactive']:hover {
    background-color: #1999e9;
}

/* Styling of Text in tab button */
.tpTabText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* Styling of the header in the contact information div */
.tpSubHeader {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: left; 
    color: black;
}

/* Styling of text on top of page */
.tpText {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-right: 0.3rem;
}

.tpText a {
    font-family: 'Roboto', sans-serif;
    color: #008de4;
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

/* Styling for bottom contact information div */
.tpBottomDiv {
    width: 400px;   
    align-items: right;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
}

.tpBottomDiv[value="Inactive"] {
    display: none;
}



/* Wrapper of the month list index row */
.tpIndexWrapper {
    display: flex;
    height: 3rem;
    border-bottom: 0.1rem solid black;
    background: white;
    min-width: 750px;
    max-width: 1000px;
}

/* Div for the cells of the index */
.tpIndexItemFirst {
    display: flex;
    text-align: left;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
}

.tpIndexItem {
    display: flex;
    text-align: left;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
}

/* Text styling of the index */
.tpColumnTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    overflow: hidden;
    margin: 2px;
}

/* Styling of the title of the month list page*/
.tpHeader {
    color: #003347;
    padding: 1rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2rem;
}

/* Wrapper for the month list rows  */
.tpProposalWrapper {
    display: flex;
    height: 4rem;
    border-bottom: 0.1rem solid rgb(216, 220, 227);
    background: white;
    min-width: 750px;
    max-width: 1000px;
}

.tpProposalWrapper:hover {
    background: #f3f3f3;
}

/* Div of the other cells of the month list table*/
.tpItemFirst {
    display: flex;
    text-align: left;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
    border: 1px;
}

/* Div of the other cells of the month list table*/
.tpItem {
    display: flex;
    text-align: left;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
    border: 1px;
}

/* Text styling proposal name*/
.tpCandidateName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 1px;
}

/* Text styling proposal owner*/
.tpCandidateAlias { 
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-right: 2rem;
    margin: 2px;
}

.tpCandidateContact {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 0.9rem;
    margin: 1px;
}

/* Text styling of the report linkvoting status*/
.tpReportLink {
    font-family: 'Roboto', sans-serif;
    color: #008de4;
    font-weight: 200;
    font-size: 1rem;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.tpItem img {
    vertical-align: middle;
}

.votingTallyWrapper {
    display: flex;
    height: 2rem;
    border-bottom: 0.1rem solid #d8dce3;
    background: white;
    min-width: 300px;
    max-width: 500px;
}

.tpPageTopSection[value="Inactive"] {
    display: none;
}

/* Special wrapper for the How To page */
.tpHowToWrapper {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* Container for How To images */
.c3 {
    display: flex;
    width: 100%;
    align-items: middle;
}

/* How to image styling */
.c3 img {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

/* Styling of the header in the contact information div */
.tpHowToSubHeader {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center; 
    margin-top: 2rem;
    color: black;
}