/* Loading used fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Header of the labs tabs */
.labsHeader {
    display: block;
    color: #003347;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

  /* Styling of text on top of page */
  .labsText {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top:0;
    padding-bottom: 5px;
    padding-right: 0.3rem;
}

/* Styling of labtext links */
.labsText a {
  font-family: 'Roboto', sans-serif;
  color: #008de4;
  font-weight: 200;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

/* div to show and hide correct plotter */
.plotWrapper[value="Inactive"] {
    display: none;
}

/* Month page wrapper */
.labsPageWrapper {
    align-items: middle;
    width: 100%;
    width: 1000px;
    padding-top: 65px; /* Clearing from Navbar */
    margin: 0 auto;
}

/* Downpointing chevron on dropdown menus */
i[id="dropdownMenu"] {
    border: solid white;
    border-width: 0 2px 2px 0;
    margin-left: 10px; 
    margin-right: 10px;
    margin-bottom: 3px;
    height: 10px;
    width: 10px;  
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
}

/* Styling for the dropdown div */
.dropdown {
  display: inline-block;  
  margin-right: 1rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
  }

/* Styling for the button of the dropdown menu */
.dropbtn {
    min-width: 200px;
    background-color: #3498DB;
    color: white;
    padding: 16px 10px 16px 10px;
    font-size: 16px;  
    margin-right: 1rem;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* Styling for the dropdown menu as a whole */
  .dropdownMenu {
    display: show;
    position: absolute; 
  }

/* Styling for the individual dropdown row items */
  .dropdownItem {
    min-width: 200px;
    padding: 16px 10px 16px 10px;
    font-size: 16px;
    text-align: left; 
    color: black;
    background-color: #f1f1f1;
    text-decoration: none;   
    margin-right: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: none;
    z-index: 1;
    cursor: pointer;
  }
  
.dropdownItem:hover {background-color: #ddd;}

/* Styling for the buttons to toggle datasets */
.databtn {
  display: inline-block;
  padding: 16px;
  margin-left: 0.2rem;
  margin-right: 1rem;
  font-size: 16px;  
  width: 150px;
  border: none;
  cursor: pointer;
}

.databtn[value="Active"][id="Anypay"] {
  background-color: blue;
  color: white;
}

.databtn[value="Active"][id="Paylive"] {
  background-color: darkgreen;
  color: white;
}

.databtn[value="Active"][id="Dash Core"] {
  background-color: blue;
  color: white;
}

.databtn[value="Active"][id="DashElectrum"] {
  background-color: purple;
  color: white;
}

.databtn[value="Active"][id="Core Android"] {
  background-color: green;
  color: white;
}

.databtn[value="Inactive"] {
  background-color: lightgrey;
  color: black;
}

/*
Tooltip styling
*/

/* Styling of the tooltip element */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

/* Styling of Tooltip block, part that shows and hides */
.tooltip .tooltipBlock {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltipBlock::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #555 transparent ;
}

/* Show tooltipBlock on hover*/
.tooltip:hover .tooltipBlock {
  visibility: visible;
  opacity: 1;
}

/* Show tooltipBlock on click for mobile users*/
.tooltip .tooltipBlock[value="Active"] {
  visibility: visible;
  opacity: 1;
}

