/*
Styles used in ModalFrame.js
*/
/* Modal screen makes the area around the modal darker*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
  
/* The modal itself */
.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    max-width: 800px;
    height: auto;
    top:50%;
    left:50%;
    border-radius:5px 5px 5px 5px;
    transform: translate(-50%,-50%);
}

/* Display modal */
.display-block {
    display: block;
}

/* Do not display modal */
.display-none {
    display: none;
}

/*
Styling used in ModalContent.js
*/

/* Outer border of the modal */
.modalWrapper {
    object-fit: cover;
    min-width: 100%;
    max-width: 800px;
    min-height: 30vh;
    height: max-content;
    max-height: 80vh;
    border-radius:5px 5px 5px 5px;
    background: #ffffff;
}

/* Blue title area of the modal proposal card */
.modalCardTitle { 
    font-family: 'Montserrat', sans-serif;
    min-width: 100%;
    max-width: 100%;
    background: #008de4;
    border-radius: 5px 5px 0px 0px;
    height: 75px;
}

/* Styling for titles */
.modalHeader {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-align: left; 
    text-transform: uppercase;
    color: black;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
}

/* Styling of the proposal name, special in modal because of width requirements */
.modalProposalName { 
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    min-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styling of the proposal owner name also used in modal */
.modalOwnerName { 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    width: 100%;
    min-width: 350px;
    color: white;
}

.modalOwnerName a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
}

/* Styling for modal close button */ 
.modalCloseButton {
    display: block;
    position: relative;
    color: white;
    top:0;
    right:0;
    font-family: 'Roboto', sans-serif;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    height: 20px;
    min-width: 50px;
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
}

/* Area surrounding the tabs, also used for report sub tabs */
.modalTabWrapper {
    display: flex;                       /* establish flex container */
    justify-content: space-around;  
    align-items: center;  
    padding: auto;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Styling of the modal tab buttons */
.modalTabButton {
    display: inline-flex;    
    line-height: 1 rem;
    vertical-align: middle; 
    text-align: center;  
    height: 50px;
    width: 31%;
    transition: 0.15s;
}

/* Styling when the tab is active */
.modalTabButton[value="Active"] {
    background-color:  white;
}

/* Styling when the tab is inactive */
.modalTabButton[value="Inactive"] {
    background-color:  #ccc;
    cursor: pointer;
}

/* Change background color of buttons on hover */
.modalTabButton[value="Inactive"]:hover {
    background-color: #ddd;
}

.modalTabButton p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    color: black;
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
}

.modalTabButton[value="Active"] p {
    border-bottom: 2px solid #e90056;
}

.modalTabButton[value="Inactive"] {
    border-bottom: none;
}

/*
Styling used in the modal tab files (ModalTabMain, ModalTabPerformance, ModalTabFunding and ModalTabReports
*/

/* Styling to make tab content visible or not */
.modalTabContent[value="active"] {
    display: block;
    align-items: center;
    height: 100%;
}

.modalTabContent[value="inactive"] {
    display: none;
}

/* 3x3 grid with proposal properties in it */
.modalPropertyGrid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                    /* enable flex items to wrap */
    align-content: space-evenly;    
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

/* Div containing both the Property Title and Property Item */
.modalPropertyDiv {
    flex: 0 0 31%;                       /* don't grow, don't shrink, width */
    height: 60px;
    width: 31%;
    text-align: left; 
    font-size: 0.9rem;
    border: 1px solid lightgrey;    
    padding: 5px;
    margin-bottom: 0.4rem;
    margin-right: 0.3rem;
}

/* Element name styling, Status, Budget Status, etc. */
.modalPropertyTitle {  
    font-family: 'Montserrat', sans-serif;
    font-weight: 'bold';
    color: black;
    height: 20px;    
}

/* Div containg the value, Completed, On Schedule, etc. Text itself is styled in status_styling.css */
.modalPropertyItem {
    font-family: sans-serif;
    font-weight: bold;
    word-break:break-all;
    word-wrap: break-word;
    height: 40px;
}

/* Styling of text on tabs in modal*/
.modalProposalText {
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.8rem;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    padding-right: 0.4rem;

}

/* Styling of links on Funding and Performance modal Tabs */
.modalTabLink {
    display: block;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.modalTabLink a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #008de4;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

/* 2x4 grid with proposal properties in it */
.modalReportGrid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around; 
    min-height: 5rem;   
    margin: 0.3rem 1rem;   
}

/* Div containing both the Property Title and Property Item */
.modalReportDiv {
    flex: 0 0 40%;                       /* don't grow, don't shrink, width */
    align-items: center;      
}

/* Styling of the text of the bottom links*/
.modalNoReportText {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1rem;
    margin-left: 2rem;
    padding: 2rem 0;
}

/* Styling of the report link at the bottom of the proposal cards */
.modalReportItem {
    display: block;
    padding: 10px 10px;
    margin-left: 0.4rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;  
}

/* Styling of the text of the bottom links*/
.modalReportLink {
    font-family: 'Roboto', sans-serif;
    color: #008de4;
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;   
    cursor: pointer;
}

.modalReportLink img {
    vertical-align: middle;
}

.modalLinkDiv {
    display: flex;
    margin: 0.5rem 0.4rem;
}

.modalLinkDiv a {
    display: inline-flex;
}

/* Separator for image links */
.modalLinkSeparator {
    display: inline-flex;
    border-left: 1px solid lightgrey;
    height: 35px;
    margin-left: 10px;
    padding-right: 10px;
}

/*
Tooltip styling
*/

/* Styling of the tooltip element */
.modalTooltip {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted lightgrey;
    cursor: pointer;
}

/* Styling of the Tooltip block */
.modalTooltip .modalTooltiptext {
    font-family: sans-serif;
    font-size: 0.8rem;
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -150px;
}

/* Show tooltip upon hover */
.modalTooltip:hover .modalTooltiptext {
    visibility: visible;
}

/* Show tooltip upon hover */
.modalTooltip .modalTooltiptext[value="Active"] {
    visibility: visible;
}