/* Loading used fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Month page wrapper */
.monthPageWrapper {
    display: flex;
    z-index: 1;
    position: relative;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Styling of button of inactive tab */
.monthTab {
    display: inline-flex;    
    line-height: 1 rem;
    vertical-align: middle;
    color: white;
    background-color: #008de4;
    width: 20%;
    height: 50px;
    margin-right: 6px;
    cursor: pointer;
    transition: 0.15s;
    box-shadow: inset 0 -2px 4px -3px black;
}

/* Styling of button of active tab */
.monthTab[value='Active'] {
    display: inline-flex;    
    line-height: 1 rem;
    vertical-align: middle;
    color: black;
    background-color: white;
    width: 20%;
    margin-right: 6px;
    cursor: default;
    box-shadow: none;
    transition: 0.15s;
}

.monthTab[value='Inactive']:hover {
    background-color: #1999e9;
}

.monthHeaderWrapper {
    display: flex;
    justify-content: center;
    min-width: 750px;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Styling of Text in tab button */
.monthTabText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* Styling of the header in the contact information div */
.monthSubHeader {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left; 
    color: black;
}

/* Styling for bottom contact information div */
.monthBottomDiv {
    width: 400px;   
    align-items: right;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
}

/*
Style elements for the top of the month list table
*/

/* Wrapper of the month list index row */
.monthIndexWrapper {
    display: flex;
    height: 3rem;
    border-bottom: 0.1rem solid black;
    background: white;
    min-width: 750px;
    max-width: 1000px;
}

/* Div for the cells of the index */
.monthIndexItem {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
}

/* Text styling of the index */
.monthColumnTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    overflow: hidden;
    margin: 2px;
}

/* Styling of the title of the month list page*/
.monthHeader {
    color: #003347;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.reportPageLink {
    position: relative;
    color: #008de4;
    text-transform: uppercase;
    margin-top: 0.75rem;
    text-decoration: none;
}

.reportPageLink[id="oldReports"] {
    margin-right: auto;
}

.reportPageLink[id="newReports"] {
    margin-left: auto;
}

/* Creates chevon of back button */
i {
    border: solid #008de4;
    border-width: 0 3px 3px 0;
    display: inline-block;
    height: 9px;
    width: 9px;     
}

i[id=oldReports] {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);  
  }

i[id=newReports] {
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);  
}

i[id="dropdownMenu"] {
    border: solid white;
    border-width: 0 2px 2px 0;
    margin-right: 0.5rem;  
    margin-bottom: 3px;
    height: 10px;
    width: 10px;  
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
}

/* Wrapper for the month list rows  */
.monthProposalWrapper {
    display: flex;
    height: 4rem;
    border-bottom: 0.1rem solid #d8dce3;
    background: white;
    min-width: 750px;
    max-width: 1000px;
}

.monthProposalWrapper:hover {
    background: #f3f3f3;
}

/* Styling of wrapper for the month list rows  */
.monthProposalWrapper[response="No"] {
    background: #eebcbc;
}

.monthProposalWrapper[response="No"]:hover {
    background: #e0b1b1;
}

.monthProposalWrapper[month="Inactive"] {
    display: None;
}



/* Wrapper of the first cell of the month list table, 
the one containing the proposal name and proposal owner*/
.monthItemTitle {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
    border: 1px;
    cursor: pointer;
}

.monthItemTitle:hover {
    box-shadow: outset 0 -2px 4px -3px black;
}

/* Div of the other cells of the month list table*/
.monthItem {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
}

/* Text styling proposal name*/
.monthProposalName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2px;
}

/* Text styling proposal owner*/
.monthOwnerName { 
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-right: 2rem;
    margin: 2px;
}

/* Text styling of proposal type*/
.monthProposalType { 
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1rem;
    margin-right: 1rem;
    margin: 10px;
    cursor: pointer;
}

/* Colour styling of the proposal type*/ 
.monthProposalType[value="Development"] { 
    color: #f1c232;
}

.monthProposalType[value="Education"] { 
    color: #93c47d;
}

.monthProposalType[value="Governance"] { 
    color: #7e550c;
}

.monthProposalType[value="Integration"] { 
    color: #3d85c6;
}

.monthProposalType[value="Marketing"] { 
    color: #ea40b5;
}

.monthProposalType[value="Other"] { 
    color: black;
}

.monthProposalType[value="No Update"] { 
    color: black;
}

/* Text styling of the report linkvoting status*/
.monthReportLink {
    font-family: 'Roboto', sans-serif;
    color: #008de4;
    font-weight: 200;
    font-size: 1.2rem;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.monthItem img {
    vertical-align: middle;
}

/* Text styling of voting status link*/
.monthVoteLink {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
}

/* Colour styling of voting status link*/
.monthVoteLink[value="Up for Vote"] {
    color: #008de4;
    cursor: pointer;
}

.monthVoteLink[value="New Proposal"] {
    color: #008de4;
    cursor: pointer;
}

.monthVoteLink[value="Funded"] {
    color: black;
}

/*
Styling for Opt-out Table
*/

/* Wrapper for the month list rows  */
.optOutWrapper {
    display: flex;
    height: 3rem;
    border-bottom: 0.1rem solid #d8dce3;
    background: white;
    min-width: 300px;
    max-width: 500px;
}

/* Wrapper for the month list rows  */
.optOutWrapper[id="firstRow"] {
    border-top: 0.1rem solid #d8dce3;
}

/* Wrapper for the month list rows  */
.optOutWrapper[month="Inactive"] {
    display: None;
}

.optOutWrapper:hover {
    background: #f3f3f3;
}

/* Temp Header for opted-out proposals */
.optOutHeader {
    color: #003347;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1.3rem;
}

.optOutItemTitle {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
    cursor: pointer;
}

/*
Styling for old reports
*/

/* Styling for the dropdown div */
.dropdown {
    position: relative;
    margin-right: auto;
    margin-left: 0.2rem;
    margin-bottom: 0.8rem;
    min-width: 180px;
  }

/* Styling for the button of the dropdown menu */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;  
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* Styling for the dropdown menu as a whole */
  .dropdownMenu {
    display: show;
    position: absolute; 
  }

/* Styling for the individual dropdown row items */
  .dropdownItem {
    display: block;
    min-width: 180px;
    font-size: 16px;
    text-align: left; 
    color: black;
    background-color: #f1f1f1;
    text-decoration: none;   
    padding: 12px 16px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px black;
    border: none;
    z-index: 1;
    cursor: pointer;
  }
  
.dropdownItem:hover {background-color: #ddd;}
  
.show {display: block;}

  /* Styling of text on top of page */
.monthText {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-right: 0.3rem;
}
