/*Styling of the title row of the card*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Month page wrapper */
.monthPageWrapper {
    display: block;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Styling of button of inactive tab */
.monthTab {
    display: inline-flex;    
    line-height: 1 rem;
    vertical-align: middle;
    color: white;
    background-color: #008de4;
    width: 20%;
    height: 40px;
    margin-right: 6px;
    cursor: pointer;
    transition: 0.15s;
    box-shadow: inset 0 -2px 4px -3px black;
}

/* Styling of button of active tab */
.monthTab[value='Active'] {
    display: inline-flex;    
    line-height: 1 rem;
    vertical-align: middle;
    color: black;
    background-color: white;
    width: 20%;
    height: 40px;
    margin-right: 6px;
    cursor: default;
    box-shadow: none;
    transition: 0.15s;
}

.monthTab[value='Inactive']:hover {
    background-color: #1999e9;
}

/* Styling of Text in tab button */
.monthTabText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* Styling of the header in the contact information div */
.monthSubHeader {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left; 
    color: black;
}

/* Styling for bottom contact information div */
.monthBottomDiv {
    width: 400px;   
    align-items: right;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
}

/*
Style elements for the top of the month list table
*/

/* Wrapper of the month list index row */
.monthIndexWrapper {
    display: flex;
    height: 3rem;
    border-bottom: 0.1rem solid black;
    background: white;
    min-width: 750px;
    max-width: 1000px;
}

/* Div for the cells of the index */
.monthIndexItem {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
}

/* Text styling of the index */
.monthColumnTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    overflow: hidden;
    margin: 2px;
}

/* Styling of the title of the month list page*/
.monthHeader {
    color: #003347;
    padding: 1rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2rem;
}

/* Wrapper for the month list rows  */
.monthProposalWrapper {
    display: flex;
    height: 4rem;
    border-bottom: 0.1rem solid rgb(216, 220, 227);
    background: white;
    min-width: 750px;
    max-width: 1000px;
}

.monthProposalWrapper:hover {
    background: #f3f3f3;
}

/* Styling of wrapper for the month list rows  */
.monthProposalWrapper[response="No"] {
    background: #eebcbc;
}

.monthProposalWrapper[response="No"]:hover {
    background: #e0b1b1;
}

.monthProposalWrapper[month="Inactive"] {
    display: None;
}



/* Wrapper of the first cell of the month list table, 
the one containing the proposal name and proposal owner*/
.monthItemTitle {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
    border: 1px;
    cursor: pointer;
}

.monthItemTitle:hover {
    box-shadow: outset 0 -2px 4px -3px black;
}

/* Div of the other cells of the month list table*/
.monthItem {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
}

/* Text styling proposal name*/
.monthProposalName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2px;
}

/* Text styling proposal owner*/
.monthOwnerName { 
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-right: 2rem;
    margin: 2px;
}

/* Text styling of proposal type*/
.monthProposalType { 
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1rem;
    margin-right: 1rem;
    margin: 10px;
    cursor: pointer;
}

/* Colour styling of the proposal type*/ 
.monthProposalType[value="Development"] { 
    color: #f1c232;
}

.monthProposalType[value="Education"] { 
    color: #93c47d;
}

.monthProposalType[value="Governance"] { 
    color: #7e550c;
}

.monthProposalType[value="Integration"] { 
    color: #3d85c6;
}

.monthProposalType[value="Marketing"] { 
    color: rgb(234, 64, 181);
}

.monthProposalType[value="Other"] { 
    color: black;
}

.monthProposalType[value="No Update"] { 
    color: black;
}

/* Text styling of the report linkvoting status*/
.monthReportLink {
    font-family: 'Roboto', sans-serif;
    color: #008de4;
    font-weight: 200;
    font-size: 1.2rem;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.monthItem img {
    vertical-align: middle;
}

/* Text styling of voting status link*/
.monthVoteLink {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
}

/* Colour styling of voting status link*/
.monthVoteLink[value="Up for Vote"] {
    color: #008de4;
    cursor: pointer;
}

.monthVoteLink[value="New Proposal"] {
    color: #008de4;
    cursor: pointer;
}

.monthVoteLink[value="Funded"] {
    color: black;
}

/*
Styling for Opt-out Table
*/

/* Wrapper for the month list rows  */
.optOutWrapper {
    display: flex;
    height: 3rem;
    border-bottom: 0.1rem solid rgb(216, 220, 227);
    background: white;
    min-width: 300px;
    max-width: 500px;
}

/* Wrapper for the month list rows  */
.optOutWrapper[id="firstRow"] {
    border-top: 0.1rem solid rgb(216, 220, 227);
}

/* Wrapper for the month list rows  */
.optOutWrapper[month="Inactive"] {
    display: None;
}

.optOutWrapper:hover {
    background: #f3f3f3;
}

/* Temp Header for opted-out proposals */
.optOutHeader {
    color: #003347;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1.3rem;
}

.optOutItemTitle {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    line-height: 1rem;
    justify-content: center;
    margin-right: auto;
    min-width: 0px;
    width: 75%;
    cursor: pointer;
}

