/* Loading used fonts */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/*
Styling for cardPropertyDiv
*/

/* Status */
.cardPropertyDiv[value="Completed"] {
    background: #c4f0c4;
}

.cardPropertyDiv[value="Unknown"] {
    background: lightyellow;
}

.cardPropertyDiv[value="Abandoned"] {
    background: #eebcbc;
}

/* Communication Status */
.cardPropertyDiv[value="In communication with Dash Watch"] {
    background: #c4f0c4;
}

.cardPropertyDiv[value="In communication but did not provide a new update"] {
    background: #eebcbc;
}

.cardPropertyDiv[value="Not in communication with Dash Watch"] {
    background: #eebcbc;
}

/* Reporting Status */
.cardPropertyDiv[value="Reporting Concluded"] {
    background: #c4f0c4;
}

.cardPropertyDiv[value="Not Reported on By Dash Watch"] {
    background: #cae6f8;
}

.cardPropertyDiv[value="Opted Out of Dash Watch Reporting"] {
    background: #cae6f8;
}

/* Budget Status */
.cardPropertyDiv[value="On Budget"] {
    background: #c4f0c4;
}

.cardPropertyDiv[value="Over Budget"] {
    background: lightyellow;
}

.cardPropertyDiv[value="Under Budget"] {
    background: lightyellow;
}

.cardPropertyDiv[value="Not Funded"] {
    background: #ffefe0;
}

.cardPropertyDiv[value="Unknown"] {
    background: #dac4da;
}

/*Schedule Status */
.cardPropertyDiv[value="On Schedule"] {
    background: #c4f0c4;
}

.cardPropertyDiv[value="Ahead of Schedule"] {
    background: #c4f0c4;
}

.cardPropertyDiv[value="Behind Schedule"] {
    background: #ffefe0;
}

.cardPropertyDiv[value="Unknown"] {
    background: #dac4da;
}

/*
Styling for modalPropertyDiv
*/

/* Status */
.modalPropertyDiv[value="Completed"] {
    background: #c4f0c4;
}

.modalPropertyDiv[value="Unknown"] {
    background: lightyellow;
}

.modalPropertyDiv[value="Abandoned"] {
    background: #eebcbc;
}

/* Communication Status */
.modalPropertyDiv[value="In communication with Dash Watch"] {
    background: #c4f0c4;
}

.modalPropertyDiv[value="In communication but did not provide a new update"] {
    background: #eebcbc;
}

.modalPropertyDiv[value="Not in communication with Dash Watch"] {
    background: #eebcbc;
}

/* Reporting Status */
.modalPropertyDiv[value="Reporting Concluded"] {
    background: #c4f0c4;
}

.modalPropertyDiv[value="Not Reported on By Dash Watch"] {
    background: #cae6f8;
}

.modalPropertyDiv[value="Opted Out of Dash Watch Reporting"] {
    background: #cae6f8;
}

/* Budget Status */
.modalPropertyDiv[value="On Budget"] {
    background: #c4f0c4;
}

.modalPropertyDiv[value="Over Budget"] {
    background: lightyellow;
}

.modalPropertyDiv[value="Under Budget"] {
    background: lightyellow;
}

.modalPropertyDiv[value="Not Funded"] {
    background: #ffefe0;
}

.modalPropertyDiv[value="Unknown"] {
    background: #dac4da;
}

/*Schedule Status */
.modalPropertyDiv[value="On Schedule"] {
    background: #c4f0c4;
}

.modalPropertyDiv[value="Ahead of Schedule"] {
    background: #c4f0c4;
}

.modalPropertyDiv[value="Behind Schedule"] {
    background: #ffefe0;
}

.modalPropertyDiv[value="Unknown"] {
    background: #dac4da;
}

/* 
Old colour coding, still used in single proposal page 
*/

/*Colour coding for Status elements */
.statusPropertyValue[value="Completed"] {
    color: #13c645;
}

.statusPropertyValue[value="In Progress"] {
    color: black;
}

.statusPropertyValue[value="Delayed"] {
    color: #f48c06;
}

.statusPropertyValue[value="Obstructed"] {
    color: #f48c06;
}

.statusPropertyValue[value="Abandoned"] {
    color: #f44336;
}

/*Colour coding for Budget elements */
.statusPropertyValue[value="On Budget"] {
    color: #13c645;
}

.statusPropertyValue[value="Over Budget due to extenuating circumstances"] {
    color: #f48c06;
}

.statusPropertyValue[value="Over Budget due to increased scope"] {
    color: #f48c06;
}

.statusPropertyValue[value="On Budget but underfunded due to the depreciation of Dash"] {
    color: #ffc107;
}

/*Colour coding for Schedule elements */
.statusPropertyValue[value="Ahead of Schedule"] {
    color: #13c645;
}

.statusPropertyValue[value="On Schedule"] {
    color: #13c645;
}

.statusPropertyValue[value="Behind Schedule"] {
    color: #f48c06;
}

/*Colour coding for Communication elements */
.statusPropertyValue[value="In communication with Dash Watch"] {
    color: #13c645;
}

.statusPropertyValue[value="Dash Watch reporting concluded"] {
    color: #3f51b5;
}

.statusPropertyValue[value="Opted out of Dash Watch Reporting"] {
    color: #3f51b5;
}

.statusPropertyValue[value="In communication but did not provide a new update"] {
    color: #f48c06;
}

.statusPropertyValue[value="Not in communication with Dash Watch"] {
    color: #f44336;
}

.statusPropertyValue[value="Unreachable"] {
    color: #f406a8;
}

/* Colour styling for Funding Tab elements */
.fundingPropertyValue {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left; 
}

.fundingPropertyValue[value="Not provided"] {
    color: #f44336;
}

/* Colour styling for Performance Tab elements */
.performancePropertyValue {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left; 
}

.performancePropertyValue[value="Not provided by proposal"] {
    color: #f44336;
}

.performancePropertyValue[value="Not Provided"] {
    color: #f44336;
}

.performancePropertyValue[value="Not Tracked by Proposal"] {
    color: #f48c06;
}

/* 
Colour coding for simplified modal
*/

/* Status */
.simple_modalPropertyDiv[value="Completed"] {
    background: #c4f0c4;
}

.simple_modalPropertyDiv[value="Unknown"] {
    background: lightyellow;
}

.simple_modalPropertyDiv[value="Abandoned"] {
    background: #eebcbc;
}

/* Communication Status */
.simple_modalPropertyDiv[value="In communication with Dash Watch"] {
    background: #c4f0c4;
}

.simple_modalPropertyDiv[value="In communication but did not provide a new update"] {
    background: #eebcbc;
}

.simple_modalPropertyDiv[value="Not in communication with Dash Watch"] {
    background: #eebcbc;
}

/* Reporting Status */
.simple_modalPropertyDiv[value="Reporting Concluded"] {
    background: #c4f0c4;
}

.simple_modalPropertyDiv[value="Not Reported on By Dash Watch"] {
    background: #cae6f8;
}

.simple_modalPropertyDiv[value="Opted Out of Dash Watch Reporting"] {
    background: #cae6f8;
}

/* Budget Status */
.simple_modalPropertyDiv[value="On Budget"] {
    background: #c4f0c4;
}

.simple_modalPropertyDiv[value="Over Budget"] {
    background: lightyellow;
}

.simple_modalPropertyDiv[value="Under Budget"] {
    background: lightyellow;
}

.simple_modalPropertyDiv[value="Not Funded"] {
    background: #ffefe0;
}

.simple_modalPropertyDiv[value="Unknown"] {
    background: #dac4da;
}

/*Schedule Status */
.simple_modalPropertyDiv[value="On Schedule"] {
    background: #c4f0c4;
}

.simple_modalPropertyDiv[value="Ahead of Schedule"] {
    background: #c4f0c4;
}

.simple_modalPropertyDiv[value="Behind Schedule"] {
    background: #ffefe0;
}

.simple_modalPropertyDiv[value="Unknown"] {
    background: #dac4da;
}