/* Loading used fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    /*background-color: #d9d8d8;*/
    background-color: #d9d8d8;
    font-family: 'Roboto', sans-serif;
}

/* 
Styles used in index.js
*/

/* General page wrapper */
.pagewrapper {
    position: relative;
    align-items: center;
    min-width: 800px;
    max-width: 1000px;
    margin: 55px auto;
}

/* Styling for the whole navBar */
.menu {
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    min-width: 1000px;    
    width: 100%; /* Full width */
    height: 50px;
    overflow-x: auto;
    list-style-type: none;
    overflow: hidden;
    background-color: #012060;
    margin: 0;
    z-index: 999;
}

/* Sub div of navbar*/
.menuContent {
    align-items: middle;
    width: 100%;
    max-width: 1000px;   
    margin: 0 auto;
}

/* Button links on navbar*/
.menuItem {
    display: inline-flex;
    vertical-align: middle;
    color: white;
}

.menuItem[value="Active"] {
    display: inline-flex;
    vertical-align: middle;
    background: white;
    color: black;
}

/* Link item styling of navbar buttons*/
.menuItem a {
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    color: white;
    text-decoration: none;
    height: 100%;
    margin: 14px 16px;
    cursor: pointer;   
}

/* Show Red line under active page */
.menuItem a[value="Active"] {
    color: black;
    border-bottom: 2px solid #e90056;
}

/* Show Red line under active page */
.menuItem:hover {
    background-color: #ddd;
    color: rgb(28, 31, 34);
}

/* Styling for Dash Watch Logo on Navbar */
.menuItem img {
    display: inline-flex;
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    color: white;
}

.menuItem[id="image"]:hover {
    background-color: #012060;
    color: #012060;
}


/* Styling for search form element */
.searchForm{
    display: inline-flex;    
    padding: 10px;
    color: #cfe3f4;
    
}

/* Styling for search form element */
.searchField{   
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: black;
    font-size: 14px;
    min-width: 250px;
    border: 1px solid black;
    line-height: 1.42857143;
    box-shadow: 1px 1px 0 0 rgba(255,255,255,.41), inset 1px 1px 3px 0 rgba(0,0,0,.10);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* Styling for search input field*/
input[type=submit] {    
    color: white;   
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    border-radius:2px 2px 0px 0px;
    width: 80px;
    height: 22px;
}


/* Checkbox styling */
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Normal text styling in Proposal List Header */
  .container p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: black;
}
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 16px;
    width: 16px;
    border: 1px solid black;
  }

   /* Create a custom checkbox */
   .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;  
    border: 1px solid black;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
/* Proposal View Header styling */
.listHeader {
    width: 100%;
    text-align: center;
    color: #003347;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

/* Proposal list div containing header */
.headerLeftDiv {
    display: inline-block;
    padding-left: 3.5rem;
    align-self: left;
    vertical-align: top;
    width: 60%;
}

/* Proposal list div containing result counter and filter */
.headerRightDiv {
    display: inline-block;
    align-self: right;
    vertical-align: top;
    width: 30%;
}

/* Styling of normal text in header */
.headerText {
    font-family: 'Titillium Web', sans-serif;
    text-align: right;
    font-size: 0.8rem;
    color: black;
}

/* Scroll to top button */
.scroll {
    opacity: 0.5;
    background-color: white;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
    z-index: 900;
}
    
.scroll:hover {
      opacity: 1;
}

/* Up sign on scroll button*/
.glyph {
    border: solid #012060;
    border-width: 0 3px 3px 0;
    display: inline-block;
    height: 12px;
    width: 12px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);    
}

/* 
Style elements used in Post.js 
*/
.cardDiv { 
    width: 900px; 
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 1px grey;
    border-radius:5px 5px 5px 5px;      
    margin-bottom: 20px;
}

/* Blue title header of the card*/
.cardTitle { 
    font-family: 'Montserrat', sans-serif;
    background: #012060;
    width: 900px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:5px 5px 0px 0px;
}

/* Div of area that is clickable to activate the Modal */
.cardContentWrapper {
    background: white;
    width: 900px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;    
}

/* Styling of the proposal name, also used in Single.js */
.proposalName { 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 100%;
    min-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* Styling of the proposal owner name also used in Single.js */
.ownerName { 
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    width: 100%;
    color: white;
}

.ownerName a {
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
  }

/* 2x4 grid with proposal properties in it */
.cardPropertyGrid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;    
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

/* Div containing both the Property Title and Property Item */
.cardPropertyDiv {
    flex: 0 0 23%;                       /* don't grow, don't shrink, width */
    height: 60px;
    text-align: left; 
    font-size: 0.9rem;
    border: 1px solid lightgrey;    
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}

/* Element name styling, Status, Budget Status, etc. */
.cardPropertyTitle {  
    font-family: 'Montserrat', sans-serif;
    color: black;
    height: 20px;
}

/* Element value styling, Completed, On Schedule, etc. */
.cardPropertyItem {
    font-family: sans-serif;
    font-weight: bold;
    height: 40px;
}

/* Styling of the text of the bottom links*/
.cardLinkItem {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 33%;
    height: 20px;
}

/* Styling for links in general */
.cardLink {
    font-family: 'Roboto', sans-serif;
    color: #008de4;
    font-weight: 400;
    height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

/*
Styling for the card report section
*/

/* 2x4 grid with proposal properties in it */
.cardReportGrid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;    
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;    
}

/* Div containing both the Property Title and Property Item */
.cardReportDiv {
    flex: 0 0 40%;                       /* don't grow, don't shrink, width */
    align-items: center;      
}

/* Styling of the text of the bottom links*/
.cardNoReportText {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

/* Styling of the report link at the bottom of the proposal cards */
.cardReportItem {
    display: inline-block;
    padding: 20px 10px 20px 10px;
    margin-left: 2rem;
    background-color: white;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    border: none;
}

/* Styling of the text of the bottom links*/
.cardReportLink {
    font-family: 'Roboto', sans-serif;
    color: #008de4;
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.cardReportLink img {
    vertical-align: middle;
}

/* Styling for the dropdown div */
.cardDropdown {
    display: inline-block;  
    margin-left: 2rem;
}

/* Styling for the top entry of the dropdown list, the one with Glyph */
.cardDropdownButton {
    text-align: right;
    background: white;
    padding: 16px 10px 16px 10px;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Dropdown div that contains the entries below the DropdownButton, overlaps other content and at aabsolute location */
.cardDropdownMenu {
    display: show;
    text-align: right;
    position: absolute;  
    background: white;     
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Change styling of top item of the dropdown list when the menu is open */
.cardDropdownButton[value="Active"] {
    text-align: right;
    background: white;
    padding: 16px 10px 16px 10px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.cardDropdownButton[value="Active"]:hover {background-color: #ddd;}

/* Styling for the individual line items of the unfolded dropdown menu */
.cardDropdownItem {
    display: block;
    text-align: right;    
    border: none;
    padding: 16px 10px 16px 64px;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardDropdownItem:hover {background-color: #ddd;}

/* Div around the dropdown glyph, increase clickable area and form border */
.cardGlyphDiv {
    display: inline-block;
    margin-left: 10px; 
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid lightgrey 1px;
    border-radius: 4px 4px 4px 4px; 
    cursor: pointer;
}

/* Downpointing chevron on dropdown menus */
i[id="reportsMenu"] {   
    display: inline-block;
    border: solid #012060;
    border-width: 0 2px 2px 0;
    text-align: right;    
    margin-bottom: 3px;
    height: 10px;
    width: 10px;  
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
}

/*
Tooltip styling
*/

/* Styling of the tooltip element */
.cardTooltip {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted lightgrey;
    cursor: pointer;
}

/* Styling of the Tooltip block */
.cardTooltip .cardTooltiptext {
    font-family: sans-serif;
    font-size: 0.8rem;
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -150px;
}

/* Show tooltip upon hover */
.cardTooltip:hover .cardTooltiptext {
    visibility: visible;
}

/* Show tooltip upon hover */
.cardTooltip .cardTooltiptext[value="Active"] {
    visibility: visible;
}
  
